<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.example.recipe_app.mapper.RecipeMapper">
	
	<!-- 全項目-->
	<sql id="columns">
		r.id, r.name, r.description, r.cooking_time, r.difficulty, r.category_id
	</sql>
	
	<!-- プライマリキー -->
	<sql id="primaryKey">
		AND r.id = #{id}
	</sql>
	
	<!-- INSERT用全項目 -->
	<sql id="insertColumns">
		r.name, r.description, r.cooking_time, r.difficulty, r.category_id
	</sql>
	
	<!-- INSERT用値 -->
	<sql id="insertValues">
		<if test="name != null and name != ''">
			#{name, jdbcType=BIGINT}
		</if>
		<if test="name == null or name == ''">
			NULL
		</if>
		<if test="description != null and description == ''">
			, #{description, jdbcType=VARCHAR}
		</if>
		<if test="description == null or description == ''">
			, NULL
		</if>
		<if test="cookingTime != null and cookingTime == ''">
			, #{cookingTime, jdbcType=VARCHAR}
		</if>
		<if test="cookingTime == null or cookingTime == ''">
			, NULL
		</if>
		<if test="difficulty != null and difficulty == ''">
			, #{difficulty, jdbcType=VARCHAR}
		</if>
		<if test="difficulty == null or difficulty == ''">
			, NULL
		</if>
		<if test="categoryId != null and categoryId == ''">
			, #{categoryId, jdbcType=BIGINT}
		</if>
		<if test="categoryId == null or categoryId == ''">
			, NULL
		</if>
	</sql>
	
	<!-- 条件 -->
	<sql id="conditions">
		<if test="id != null">
			AND r.id = #{id, jdbcType=BIGINT}
		</if>
		<if test="name != null and name != ''">
			AND r.name ILIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
		</if>
		<if test="categoryId != null">
			AND r.category_id = #{categoryId,jdbcType=BIGINT}
		</if>
		<if test="difficulty != null and difficulty != ''">
			AND r.difficulty = #{difficulty, jdbcType=VARCHAR}
		</if>
	</sql>
	
	<!-- 一覧取得のSQL -->
	<select id="select" parameterType='com.example.recipe_app.dto.RecipeCondDto'
		resultType="com.example.recipe_app.dto.RecipeDto">
		SELECT
			<include refid="columns" />
			, c.name AS category_name 
		FROM recipe r
			LEFT JOIN category c
			ON c.id = r.category_id
		<where>
			<include refid="conditions"></include>
		</where>
	</select>
	
	<!-- 1レコードを取得のSQL -->
	<select id="selectOne" resultType="com.example.recipe_app.dto.RecipeDto">
		SELECT 
			<include refid="columns" />
		FROM
			recipe r
		<where>
			<include refid="primaryKey"></include>
		</where>
	</select>
	
	<!-- 1レコードを追加のSQL -->
	<insert id="insert" parameterType="com.example.recipe_app.dto.RecipeDto">
		INSERT INTO recipe r (
			<include refid="insertColumns" />
		) VALUES (
			<include refid="insertValues" />
		)
	</insert>
	
</mapper>
